#writing{
    font-family: Arial black;
}
#head{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: red;
}
#f{
    background-color: red;
}
#b{
    background-color: red;
    font-size: 20px;
}